<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="flex justify-between items-center bg-[#FAFAFA] h-15">
      <%- include('../partials/header') %>
    </header>
    <main class="flex-grow">
      <% if (flash.length > 0) { %>
      <div class="flash-messages">
        <% flash.forEach(msg => { %>
        <div class="alert alert-<%= msg.type %>"><%= msg.message %></div>
        <% }); %>
      </div>
      <% } %> <%- body %>
    </main>
    <footer class="bg-[#FAFAFA] h-25 flex items-center justify-center">
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>
